@import "./global.css";

.navbar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--dark-bg);
  color: var(--text-white);
  padding: 25px 10vw;
  z-index: 1000;
  justify-content: space-between;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='80' patternTransform='scale(4) rotate(160)'><rect x='0' y='0' width='100%' height='100%' fill='%23000000ff'/><path d='M0 10h20z'   stroke-width='1' stroke='%23ecc94b69' fill='none'/><path d='M0 30h20z'   stroke-width='1' stroke='%23f4403451' fill='none'/><path d='M0 50h20z'   stroke-width='1' stroke='%2300bdd644' fill='none'/><path d='M0 70h20z'   stroke-width='1' stroke='%238059d428' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.navbar.show {
  display: flex;
}

.language {
  max-height: 28px;
  margin-top: 11px;
}

.navbarText {
  display: flex;
}

.navbarRight {
  display: flex;
}

.navbarText .name {
  margin-left: 30px;
  margin-top: 8px;
}

.navbar .navbarRight .icons {
  font-size: 2rem !important;
  margin-top: 9px !important;
  margin-right: 20px !important;
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 775px) {
  .navbarText {
    margin-top: -10px;
    display: block;
  }

  .navbarText .name {
    margin-left: 0px;
    margin-top: -3px;
    font-size: 1rem;
  }

  .language {
    max-height: 20px;
    margin-top: 19px;
  }

  .navbar .navbarRight .icons {
    font-size: 1.5rem !important;
    margin-top: 16px !important;
    margin-right: 3px !important;
  }

  .navbar {
    padding: 25px 5vw;
  }
}
